.title {
  color: black;
  color: black;
  text-align: center;
  font-size: 20px;
}

.cards {
  color: black;
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.card {
  width: 250px;
  height: 250px;
  padding: 30px;
  text-align: center;
  font-weight: lighter;
  font-size: 15px;
  margin: 15px;
  box-shadow: 0 0 16px rgba(0,0,0,0.4);
}
